<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{|/}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/prod}">Продтовары</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/prom}">Промтовары</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="btn btn-outline-success" href="/login" th:text="#{sign_in}"></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-outline-success" href="/logout" th:text="#{log_out}"></a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><img th:src="@{/static/images/basket.png}" th:width="30" th:height="30" alt="image"/></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/basket" th:text="#{count_items_in_basket}+ ' ' + ${countItems}"></a>
            </ul>
        </div>
    </nav>
    <div class="container">
        <img th:src="${item.thumbnail}" alt="Thumbnail [100%x225]" style="height: 225px; width: 25%; display: block;"  data-holder-rendered="true">
        <table class="table">
            <tbody>
            <tr>
                <td th:text="Название"></td>
                <td th:text="${item.name}"></td>
            </tr>
            <tr>
                <td th:text="Цена"></td>
                <td th:text="${item.cost}"></td>
            </tr>
            <tr>
                <td th:text="Описание"></td>
                <td th:text="${item.description}"></td>
            </tr>
            <tr>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"  class="btn-group">
                        <a class="btn btn-primary" th:href="@{|/addToBucket/${item.id}|}" th:text="#{add_to_basket}"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>