<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error page</h1>
<div>
    <span th:text="${exception.message}"></span>
</div>
</body>
</html>