<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{|/}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/prod}">Продтовары</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/prom}">Промтовары</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-outline-success" href="/logout" th:text="#{log_out}"></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Профиль</h1>
        <table class="table-borderless">
            <tbody>
            <tr>
                <td th:text="Имя"></td>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <td th:text="Фамилия"></td>
                <td th:text="${user.lastName}"></td>
            </tr>
            </tbody>
        </table>
        <h2>Заказы</h2>
        <table class="table">
            <thead>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Товары</th>
            </thead>
            <tbody>
                <th:block th:each="order : ${orders}">
                    <tr>
                        <th scope="row" th:text="${order.date}"></th>
                        <td th:text="${order.allCost}"></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:text="Товары"></button>
                                <div class="dropdown-menu">
                                    <th:block th:each="item : ${order.items}">
                                        <a class="dropdown-item" th:href="@{|/item/${item.id}|}" th:text="${item.name}"></a>
                                    </th:block>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>